<div class="card-header">
    <div class="row">
        <div class="col">
            <h6 class="download-app">Download App <span>
                    <a href="https://play.google.com/store/apps/details?id=co.noworri.noworri&hl=fr&gl=US"> <img
                            class="im1" src="assets\header\android icon.png" alt=""></a>
                </span>
                <span><a href="https://play.google.com/store/apps/details?id=co.noworri.noworri&hl=fr&gl=US"><img
                            class="im2" src="assets\header\apple icon.png" alt=""></a></span>
            </h6>
        </div>
        <div class="col">
            <div class="im">
                <img src="assets\header\LOGP.png" alt="">
            </div>
        </div>
        <div class="col wha">
            <h6> <a class="wht-noworri" href="https://www.noworri.com/">What's Noworri ?</a></h6>
        </div>
    </div>
</div>