#card {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(40%);
    .card {
        border-radius: 10px;
        box-shadow: 0px 0px 0px #4d4d4d29;
        .im {
            margin-top: -30px;
            display: flex;
            justify-content: center;
            img {
                width: 50px;
                height: 50px;
                border-radius: 30px;
            }
        }
        .card-header {
            background-color: white;
            h6 {
                font-size: 12px;
                text-align: center;
                font-family: "Segoe UI";
                font-weight: 700;
                color: #000000;
                opacity: 1;
                letter-spacing: 0px;
            }
            span{
                position: relative;
                right: 50px;
                i{
                    font-size: 20px;
                    background-color: #F1F6FF;
                    border-radius: 18px;
                    color: #497DD5;
                    cursor: pointer;
                    padding: 5px;
                }
                
            }
        }
        .card-body {
            background-color: #f1f6ff;
            .form-label {
                font-size: small;
                display: flex;
                justify-content: center;
                font-family: "Segoe UI";
                font-weight: 600;
                color: #000000;
                opacity: 1;
                letter-spacing: 0px;
                margin-top: 20px;
                margin-bottom: 15px;
            }
            .select{
                position: relative;
                left: 37px;
                margin-top: 10px;
                margin-bottom: 20px;
                select{
                    width: 258px;
                    border: 1px solid #8e8e8e;
                }
            }
            .input-group {
                position: relative;
                left: 25px;
               
                input {
                    border: 1px solid #8e8e8e;
                  
                    border-radius: 3px;
                }
            }
        }
        .button {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            button {
                background-color: #497dd5;
                border-radius: 10px;
                font-family: "Segoe UI";
                font-weight: 600;
                color: #000000;
                opacity: 1;
                letter-spacing: 0px;
                margin-top: 20px;
                margin-bottom: 15px;
                font-size: small;
                color: #ffffff;
            }
        }
    }
}
:host {
    display: block;
    background-color: #f1f6ff;
    height: 100vh;
}
.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100%;
    transform: translateY(370%);
    button {
        background-color: #000000;
        font-family: "Segoe UI";
        font-weight: 600;
        color: #000000;
        opacity: 1;
        letter-spacing: 0px;
        font-size: small;
        color: #ffffff;
        margin-top: 6px;
        border-color: #f1f6ff;
    }
}
