<div id="card">
    <div class="card carte" style="width: 25rem;">
        <div class="im">
            <img *ngIf="hasPP" src="{{ userPP }}" class="card-img-top" alt="...">
            <!-- c'est le profil qui va s'afficher par defaut si le vrai profil n'existe pas   -->
            <div *ngIf="!hasPP" class="profil">
                <i class="bi bi-person"></i>
            </div>
        </div>
        <div class="card-header">
            <span class="salut"> Hey {{ userData?.first_name }}👋🏾,</span>
            <h6>
                Your purchase amount it's insured,Cleam 100% back of your funds in case you don't receive your product.
            </h6>
        </div>
        <div class="card-body">

            <div class="card small-card">
                <div class="card-body">
                    <h6 class="net-paya">Net payable</h6>
                    <h6 class="total">{{ amount }} <span>{{checkoutData?.currency }}</span></h6>
                    <h6 class="fee">Noworri fee : {{ noworriFee }}</h6>
                </div>
            </div>
            <div class="container content">
                <h6 class="your-drop">Your delivery address</h6>
                <h6 class="adress">{{ address }} <span><i (click)='toggleChangeAddress()'
                            class="bi bi-pencil"></i></span></h6>
                <div class="col-auto buttonGroup">

                    <div class="input-group-sm" *ngIf='isChangingAddress'>
                        <input type="text" placeholder="Use nearest landmark to indicate your location"
                            [(ngModel)]='addressInput' class="form-control">
                        <span class="input-group-text" (click)='changeDeliveryAddress(addressInput)'>Save</span>
                    </div>
                </div>
            </div>
            <div class="button">
                <button type="button" class="btn btn-primary" data-bs-toggle="button" (click)='onProceed()'
                    autocomplete="off">
                    Pay with Insurance</button>
            </div>

        </div>
    </div>
</div>
<div class="container footer-button">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary"> <i class="bi bi-file-lock2-fill"></i> Insured by
                Noworri</button>
        </div>
    </div>
</div>