#card {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(20%);
    .carte {
        border-radius: 10px;
        box-shadow: 0px 0px 0px #4d4d4d29;
        .im {
            margin-top: -30px;
            display: flex;
            justify-content: center;
            img {
                width: 50px;
                height: 50px;
                border-radius: 30px;
            }
            .profil {
                width: 50px;
                display: flex;
                justify-content: center;
                height: 50px;
                align-items: center;
                border-radius: 30px;
                background-color: #EEF1FF;
                i {
                    color: #497dd5;
                    font-size: 30px;
                }
            }
        }
        .card-header {
            background-color: white;
            h6 {
                font-size: 12px;
                text-align: center;
                font-family: "Segoe UI";
                font-weight: 600;
                color: #000000;
                opacity: 1;
                letter-spacing: 0px;
                position: relative;
                top: 4px;
            }
            .salut {
                display: flex;
                justify-content: center;
                position: relative;
            }
        }
        .card-body {
            background-color: #f1f6ff;
            .small-card {
                border: none;
                .card-body {
                    .net-paya {
                        font-family: "Segoe UI";
                        letter-spacing: 0px;
                        color: #000000;
                        opacity: 1;
                        text-align: center;
                        font-size: small;
                        position: relative;
                        bottom: 20px;
                    }
                    .total {
                        font-family: "Segoe UI";
                        letter-spacing: 0px;
                        color: #000000;
                        opacity: 1;
                        text-align: center;
                        font-weight: 800;
                        font-size: 50px;
                        position: relative;
                        bottom: 30px;
                        span {
                            font-size: small;
                            font-weight: 700;
                        }
                    }

                    .fee {
                        font-family: "Segoe UI";
                        letter-spacing: 0px;
                        color: #000000;
                        opacity: 1;
                        text-align: center;
                        font-size: 10px;
                        position: relative;
                        bottom: 30px;
                        font-weight: bold;
                    }
                }
            }

            .content {
                .your-drop {
                    text-align: center;
                    letter-spacing: 0px;
                    color: #000000;
                    opacity: 1;
                    position: relative;
                    bottom: 45px;
                    text-decoration: underline;
                    font-family: "Segoe UI";
                    font-size: small;
                    font-weight: 600;
                }
                .adress {
                    text-align: center;
                    letter-spacing: 0px;
                    color: #000000;
                    opacity: 1;
                    font-size: 14px;
                    font-weight: 300;
                    position: relative;
                    bottom: 40px;
                    span {
                        color: #497dd5;
                        cursor: pointer;
                    }
                }
                .buttonGroup{
                   position: relative;
                   bottom: 35px;  
                   .input-group-sm {
                    display: flex;
                    justify-content: center;
                   
                   }
                   input{
                      border: none;
                      width: 200px;
                      border-radius: 0px;
                   }
                   span{
                       background-color: white;
                       border: none;
                       cursor: pointer;
                       border-radius: 0px;
                       color: #497DD5;
                   }
                 }
            }
        }

        
        .button {
            display: flex;
            justify-content: center;
           
            button {
                background-color: #497dd5;
                border-radius: 5px;
                font-family: "Segoe UI";
                font-weight: 600;
                color: #000000;
                opacity: 1;
                letter-spacing: 0px;
                font-size: small;
                color: #ffffff;
                position: relative;
                bottom: 5px;
            }
        }
    }
}

.align-items-center {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}

:host {
    display: block;
    background-color: #f1f6ff;
    height: 100vh;
}
.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100%;
    transform: translateY(300%);
    button {
        background-color: #000000;
        font-family: "Segoe UI";
        font-weight: 600;
        color: #000000;
        opacity: 1;
        letter-spacing: 0px;
        font-size: small;
        color: #ffffff;
        margin-top: 6px;
        border-color: #f1f6ff;
    }
}
