#card {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(40%);
    .carte {
        border-radius: 10px;
        box-shadow: 0px 3px 3px #00000029;
        .im {
            margin-top: -30px;
            display: flex;
            justify-content: center;
            img {
                width: 50px;
                height: 50px;
                border-radius: 30px;
            }
        }
        .card-header {
            background-color: white;
            h6 {
                font-size: 12px;
                text-align: center;
                font-family: "Segoe UI";
                font-weight: 600;
                color: #000000;
                opacity: 1;
                letter-spacing: 0px;
            }
        }
        .card-body {
            background-color: #f1f6ff;
            .small-card {
                .card-body {
                    background: #ffffff 0% 0% no-repeat padding-box;
                    border-radius: 200px;
                    h6 {
                        font-family: "Segoe UI";
                        letter-spacing: 0px;
                        color: #000000;
                        opacity: 1;
                        text-align: center;
                        font-size: small;
                    }
                }
            }
            #logo {
                display: flex;
                justify-content: center;
                margin-top: 30px;
                img {
                    border: 1px solid #888888;
                    width: 50px;
                    margin: 15px;
                    border-radius: 25px;
                    padding: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}
:host {
    display: block;
    background-color: #f1f6ff;
    height: 100vh;
}
.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100%;
    transform: translateY(400%);
    button {
        background-color: #000000;
        font-family: "Segoe UI";
        font-weight: 600;
        color: #000000;
        opacity: 1;
        letter-spacing: 0px;
        font-size: small;
        color: #ffffff;
        margin-top: 6px;
        border-color: #f1f6ff;
    }
}
