<div id="card">
    <div class="card carte" style="width: 25rem;">
        <div class="im">
            <div class="profil">
                <i class="bi bi-person"></i>
             </div>        </div>
        <div class="card-header">
            <h6>{{ userPhoneNumber }} is not registered with Noworri </h6>
        </div>
        <div class="card-body">

            <div class="card small-card">
                <div class="card-body">
                    <h6>Kindly download the app & Sign up, then come back to complete your purchase on {{ businessData.trading_name }}</h6>
                </div>
            </div>

            <div class="container" id="logo">
                <div class="row">
                    <div class="col">
                        <a href="https://play.google.com/store/apps/details?id=co.noworri.noworri&hl=fr&gl=US"> <img
                                src="assets\header\apple icon.png" alt=""></a>
                    </div>
                    <div class="col">
                        <a href="https://play.google.com/store/apps/details?id=co.noworri.noworri&hl=fr&gl=US"> <img
                                src="assets\header\android icon.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container footer-button">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary"> <i class="bi bi-file-lock2-fill"></i> Secure by
                Noworri</button>
        </div>
    </div>
</div>